* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #876a6a00;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100v;
  margin: 0;
  text-align: center;
}
.conteiner {
  text-align: center;
  background-color: rgb(14, 218, 241);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, rgb(226, 175, 7), blue, 0.1);
}
.botao {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: darkslategrey;
  color: rgb(69, 12, 162);
  transition: all 0.3 ease;
}
.botao:hover {
  background-color: firebrick;
}

.oculto {
  display: none;
  color: rgb(236, 8, 8);
  font-size: 18px;
  margin-top: 10px;
}
